import type { ReactNode } from 'react';
import type { {{ComponentName}}Props } from './{{component-name}}.types';

/**
 * {{ComponentName}} component.
 *
 * @example
 * ```tsx
 * <{{ComponentName}}>Content</{{ComponentName}}>
 * ```
 */
export const {{ComponentName}} = ({
  children,
  className,
  ...props
}: {{ComponentName}}Props): ReactNode => {
  return (
    <div className={className} {...props}>
      {children}
    </div>
  );
};

{{ComponentName}}.displayName = '{{ComponentName}}';
