export { {{ComponentName}}, {{ComponentName}}Root } from './{{component-name}}';
export type {
  {{ComponentName}}RootProps,
  {{ComponentName}}Size,
  {{ComponentName}}Tone,
  {{ComponentName}}Variant,
} from './{{component-name}}.types';
